<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zxhysy.booksmall.mapper.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.zxhysy.booksmall.pojo.OrderDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="book_id" property="bookId" jdbcType="VARCHAR" />
    <result column="book_name" property="bookName" jdbcType="VARCHAR" />
    <result column="book_price" property="bookPrice" jdbcType="DECIMAL" />
    <result column="book_quantity" property="bookQuantity" jdbcType="INTEGER" />
    <result column="book_icon" property="bookIcon" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="inserDetailList" parameterType="java.util.List">
    INSERT INTO tb_order_detail ( id,
    order_id, book_id, book_name, book_price, book_quantity, book_icon)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.id},
        #{item.orderId},
        #{item.bookId},
        #{item.bookName},
        #{item.bookPrice},
        #{item.bookQuantity},
        #{item.bookIcon}
      )
    </foreach>
  </insert>
</mapper>